@media (min-width: 768px) {
  .header-menu .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
  }

  .header-menu .dropdown:hover .rotate-icon {
    transform: rotate(180deg);
  }

  .header-menu .dropdown .dropdown-menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding-bottom: 30px;
  }
}
@media (max-width: 1560px) {
  .site-footer {
    padding: 94px 0 60px;
  }
}
@media (max-width: 991.59px) {
  .footer-contact-details {
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: -1.3rem;
    padding-right: 0.8rem;
  }
}
@media (max-width: 767px) {
  footer {
    padding-bottom: 60px;
  }
}
