@media (min-width: 768px) {
  .header-menu .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
  }

  .header-menu .dropdown:hover .rotate-icon {
    transform: rotate(180deg);
  }

  .header-menu .dropdown .dropdown-menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding-bottom: 30px;
  }
}
@media (min-width: 778px) {
  .card-graphic {
    height: 200px;
  }
}
@media (max-width: 1600px) {
  .challenges-wrap {
    background-color: #f1f2f2;
    padding: 85px 5% 0 13%;
  }
  .challenges-wrap span {
    font-size: 50px;
    top: -39px;
  }
  .challenges-wrap h3 {
    font-size: 18px;
  }
}
@media (max-width: 1560px) {
  .site-footer {
    padding: 94px 0 60px;
  }
}
@media (max-width: 991.59px) {
  .footer-contact-details {
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: -1.3rem;
    padding-right: 0.8rem;
  }
}

@media (max-width: 1440px) {
  .new-hero-banner {
    padding: 180px 0 100px 0;
    position: relative;
  }
  .banner-img {
    background-size: contain;
  }
  .banner-content h1 {
    font-size: 28px;
    line-height: 38px;
    margin: 0 0 30px 0;
  }
  .banner-content p {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 40px 0;
  }

  .awards-section {
    padding: 58px 0 65px;
  }
  .awards-section span.round-icon {
    width: 28px;
    height: 28px;
    /* left: -25px; */
    top: 10px;
  }
  .awards-section span.round-icon:before {
    width: 10px;
    height: 10px;
  }
  .awards-section h5 {
    font-size: 35px;
  }
  .awards-section p {
    font-size: 18px;
  }
  .challenges-section .content-wrapper h2 {
    font-size: 38px;
  }
  .challenges-wrap {
    padding: 85px 3% 0 9%;
  }
  p {
    font-size: 14px;
  }
  .section-title {
    font-size: 38px;
  }
  .section-padding {
    padding: 100px 0;
  }
}

@media (max-width: 1366px) {
  .awards-section {
    padding: 38px 0 35px;
  }
  .awards-section span.round-icon {
    width: 24px;
    height: 24px;
    left: 0;
    top: 8px;
  }
  .awards-section h5 {
    font-size: 28px;
  }
  .awards-section p {
    font-size: 16px;
  }
  .challenges-section .content-wrapper h2 {
    font-size: 30px;
  }
  .section-title {
    font-size: 30px;
  }
  .section-subtitle {
    font-size: 15px;
  }
  .btn-blue-round,
  .btn-red,
  .btn-light {
    font-size: 15px;
  }
  .service-card .card-body p {
    font-size: 14px;
    line-height: 1.5em;
  }
  .service-card-text {
    font-size: 14px;
  }
  .service-card h3 {
    font-size: 20px;
  }
  .image-container {
    width: 65px;
    height: 65px;
  }
}

@media (max-width: 1280px) {
  .awards-section h5 {
    font-size: 22px;
  }
  .section-padding {
    padding: 70px 0;
  }
}
@media (max-width: 1024px) {
  .new-hero-banner {
    padding: 130px 0 80px 0;
  }
  .awards-section span.round-icon {
    width: 18px;
    height: 18px;
    left: -10px;
    top: 6px;
  }
  .awards-section span.round-icon:before {
    width: 6px;
    height: 6px;
  }
  .awards-section p {
    font-size: 14px;
  }
  .challenges-section h2 {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 800;
  }
  .challenges-section figure {
    border-top-right-radius: 0;
    width: 50%;
  }
  .section-title {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .awards-section {
    padding: 18px 0;
  }
  .awards-section span.round-icon {
    width: 20px;
    height: 20px;
    top: 8px;
    position: relative;
    left: 0;
  }
}

@media (max-width: 991px) {
  .new-hero-banner:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.7;
  }
  .challenges-wrap span {
    top: -22px;
    left: -28px;
    font-size: 36px;
  }
  .challenges-wrap h3 {
    font-size: 16px;
  }
  .challenges-wrap p {
    width: 90%;
  }
  .section-padding {
    padding: 50px 0;
  }
  .card-graphic {
    height: 200px;
  }
}
@media (max-width: 767px) {
  footer {
    padding-bottom: 60px;
  }
  p,
  .section-subtitle {
    font-size: 13px;
  }
  .section-title {
    font-size: 22px;
    line-height: 1.38;
  }
  .challenges-section figure {
    width: 65%;
  }
  .card-graphic {
    height: 120px;
  }
  .banner-content h1 {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 20px 0;
  }
  .banner-content p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 640px) {
  .challenges-section figure {
    width: 100%;
  }
}

/* Words Our Clients Sections CSS Starts Here */
@media only screen and (max-width: 1770px) {
    .client_testimonial_slide_content {
        padding: 100px 20px 50px 20px;
    }
    .client_testimonial_slide_content {
        background-size: 110%;
        background-position: -100px bottom;
    }
}
@media only screen and (max-width: 1560px) {
    .challenges_burning_sec {
        padding: 90px 0 20px;
    }
    .remodel_outsourcing_sec {
        padding: 70px 0;
    }
    .take_quiz_sec {
        padding: 85px 0 100px;
        overflow: hidden;
    }
    .take_quiz_sec figure {
        bottom: -103px;
        width: 35%;
    }
    .take_quiz_content {
        padding: 50px 120px 60px;
    }
    .take_quiz_sec h2 {
        max-width: 1050px;
    }
    .words_our_client_sec {
        padding: 95px 0;
    }
    .client_dtl_wrap {
        padding-top: 30px;
    }
    .play_icon {
        margin: -31px 0 0 -31px;
        width: 72px;
        height: 72px;
    }
    .cleint_friendly_content {
        padding-top: 0;
    }
    .client_dtl_wrap img {
        max-width: 180px;
    }
    .client_testimonial_slide_content {
        background-position: -190px bottom;
        background-size: 130%;
    }
}
@media only screen and (max-width: 1367px) {
    .challenges_bun_list ul li:nth-child(3) {
        margin-left: 70px;
    }
    .challenges_bun_list ul li:nth-child(2) {
        margin-left: 140px;
    }
    .challenges_bun_list ul li:first-child {
        margin-left: 210px;
    }
    .remodel_outsourcing_content h2 {
        margin-bottom: 50px;
    }
    .remodel_outsourcing_content ul li {
        margin-bottom: 50px;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .remodel_outsourcing_map_left {
        padding-right: 50px;
    }
    .take_quiz_sec h2 {
        margin-bottom: 70px;
    }
    .broder-pattern span {
        display: none;
    }
    .client_testimonial_wrap {
        margin-left: 48px;
        width: calc(49.5% - 48px);
    }
    .client_testimonial_slide_content {
        padding: 80px 20px 40px 20px;
        min-height: 500px;
    }
    .client_review_name_logo figure {
        padding: 0 40px;
    }
    .review_number {
        width: 86px;
        height: 86px;
        line-height: 86px;
        font-size: 28px;
    }
    .review_list_wrap {
        padding-left: 110px;
    }
    .review_name {
        font-size: 20px;
    }
    .review_list_wrap strong {
        font-size: 20px;
    }
    .client_testimonial_right {
        min-height: 504px;
    }
    .client_testimonial_content {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 1199px) {
    .challenges_bun_list ul li h3 {
        font-size: 20px;
    }
    .challenges_burning_sec {
        padding: 70px 0 10px;
    }
    .take_quiz_content p {
        font-size: 20px;
    }
    .take_quiz_content {
        padding: 40px 90px 45px;
    }
    .take_quiz_sec figure {
        left: 30px;
    }
    .take_quiz_sec {
        padding: 70px 0 70px;
    }
    .take_quiz_sec figure {
        bottom: -75px
    }
    .client_dtl_wrap figcaption span {
        font-size: 20px;
    }
    .client_dtl_wrap figcaption {
        font-size: 16px;
    }
    .client_dtl_wrap img {
        max-width: 170px;
        margin-bottom: 25px;
    }
    .cleint_friendly_content {
        max-width: 170px;
    }
    .client_testimonial_slide_content {
        background-position: -240px bottom;
        background-size: 150%;
    }
    .play_icon {
        margin: -17px 0 0 -17px;
    }
}
@media only screen and (max-width: 1024px) {
    .challenges_bun_list ul li:nth-child(3) {
        margin-left: 40px;
    }
    .challenges_bun_list ul li:nth-child(2) {
        margin-left: 80px;
    }
    .challenges_bun_list ul li:first-child {
        margin-left: 120px;
    }
    .challenges_bun_list ul li {
        margin-bottom: 30px;
    }
    .remodel_outsourcing_sec {
        padding: 50px 0;
    }
    .challenges_bun_list ul li h3 {
        font-size: 18px;
    }
    .title_icon_col {
        width: 100%;
        padding: 0;
    }
    .challenges_bun_list {
        width: 100%;
        padding: 0;
    }
    .remodel_outsourcing_map_left {
        width: 100%;
        float: none;
        padding: 0 0 30px;
    }
    .remodel_outsourcing_content_right {
        width: 100%;
        float: none;
        padding: 0 15px
    }
    .remodel_outsourcing_content h2 {
        margin-bottom: 30px;
    }
    .remodel_outsourcing_content ul li {
        margin-bottom: 30px;
        padding: 25px 0 0 0;
    }
    .take_quiz_sec figure {
        position: static;
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
    }
    .take_quiz_content {
        width: 100%;
    }
    .take_quiz_sec h2 {
        margin-bottom: 30px;
    }
    .take_quiz_content {
        width: 100%;
        text-align: center;
        padding: 40px 70px 30px;
    }
    .take_quiz_content .d-flex {
        display: block;
    }
    .take_quiz_content p {
        margin-bottom: 30px;
    }
    .broder-pattern {
        display: none;
    }
    .client_testimonial_wrap {
        margin-left: 0;
        width: 100%;
    }
    .client_testimonial_wrap_main {
        padding: 0 30px 50px;
    }
    .client_testimonial_right {
        min-height: auto;
        width: 100%;
        margin-top: 20px;
    }
    .client_testimonial_slide_content {
        background-position: -20px bottom;
        background-size: 100%;
    }
    .cleint_friendly_content {
        max-width: 240px;
    }
    .words_our_client_sec {
        padding: 50px 0;
    }
    .btn.btn-block.d-flex {
        justify-content: center;
    }
}
@media only screen and (max-width: 767px) {
    .challenges_bun_list ul li {
        margin-left: 0 !important;
    }
    .words_our_client_sec h2 {
        margin-bottom: 30px;
    }
    .client_testimonial_slide_content {
        max-height: 420px;
    }
    .words_our_client_sec .container p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 640px) {
    .remodel_outsourcing_content ul li {
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        max-width: 45%;  
    }
    .take_quiz_content {
        border-radius: 20px;
        padding: 30px 30px 25px;
    }
    .client_review_name_logo {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
    .review_list_wrap {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .review_number {
        position: static;
        margin: 0 auto 20px;
        display: block;
        transform: translate(0);
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        -moz-transform: translate(0);
    }
    .client_testimonial_right {
        padding: 30px 15px;
    }
    .client_testimonial_content {
        margin-bottom: 60px;
    }
    .client_dtl_wrap {
        max-width: 100%;
        display: block;
        text-align: center;
    }
    .client_dtl_wrap img {
        display: inline-block;
    }
    .cleint_friendly_content {
        float: none;
        max-width: 100%;
        padding-top: 25px;
        padding-left: 10px;
        min-width: 100%;
        width: 100%;
        text-align: center;
    }
    .cleint_friendly_content li, .cleint_friendly_content p {
        padding: 0;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .cleint_friendly_content li:before {
        display: none;
    }
    .play_icon {
        width: 52px;
        height: 52px;
    }
    .client_testimonial_slide{margin-bottom: 20px!important;}
    .client_testimonial_slide_content {
        padding: 20px 20px 30px 20px;
        min-height: 100%;
        max-height: 100%;
    }
    .play_icon {
        margin: -47px 0 0 -27px;
    }
    .play_icon:before {
        border-top: 12px solid transparent;
        border-left: 20px solid #000000;
        border-bottom: 12px solid transparent;
    }
}
@media only screen and (max-width: 480px) {
    .remodel_outsourcing_content ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;  
    }
}
