:root {
  --main: #1c3788;
  --red: #e32129;
  --grey: #f1f4ff;
  --darkGrey: #48484a;
  --lightGray: #f1f2f2;
  --lightBlue: #f1f4ff;
  /* --lightBlue: #dfe9ff; */
  --activeBlue: #195bc9;
  --white: #ffffff;
  --grey-text: #939599;
  --black: #000;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none !important;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  font-size: 14px;
  color: var(--black);
  font-weight: 400;
}
ol,
ul {
  list-style: none;
  padding-left: 0;
}
@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/breeserif-regular-webfontd41dd41d.html?#iefix")
      format("embedded-opentype"),
    url("../fonts/breeserif-regular-webfont.html") format("woff"),
    url("../fonts/Century%20Gothic.html") format("truetype"),
    url("../fonts/breeserif-regular-webfont-2.html#bree_regular") format("svg");
}

/* // scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  /* // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  /* // background-color: #f5f5f5; */
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  /* // background-color: #f5f5f5; */
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #adadad;
  /*//background-color: rgb(126, 125, 125);
  */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.text-red {
  color: var(--red);
}
/* header */
header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

.dropdown-menu {
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

header.sticky {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: var(--white);
}
/* toggle button */
.button {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: 0;
}

.toggle span {
  width: 100%;
  height: 3px;
  background: #555;
  display: block;
  position: relative;
  coursor: pointer;
}

.toggle span:before,
.toggle span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #555;
  transition: all 0.3s ease-out;
}

.toggle span:before {
  top: -8px;
}

.toggle span:after {
  top: 8px;
}

/* Rotate arrow when dropdown is open (mobile) */
.header-menu .dropdown-toggle[aria-expanded="true"] .rotate-icon {
  transform: rotate(180deg);
}
.transition {
  transition: transform 0.3s ease;
}

.header-menu .dropdown-toggle::after {
  display: none;
}

.header-menu ul li a.nav-link {
  padding: 50px 25px;
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  position: relative;
}
.header-menu .dropdown .dropdown-menu {
  border: 0;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.header-menu .dropdown .dropdown-menu .dropdown-item {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-left: 0;
  padding-bottom: 15px;
}
.header-menu .dropdown .dropdown-menu li:not(:last-child) .dropdown-item {
  margin-bottom: 10px;
}

.header-menu ul li a.nav-link:before,
.header-menu .dropdown .dropdown-menu .dropdown-item::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--main);
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
  z-index: 9999;
}
.header-menu ul li:hover a.nav-link:before,
.header-menu .dropdown .dropdown-menu .dropdown-item:hover::before {
  width: 100%;
}
.header-menu .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

/* button */
/* #vibratingButton {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
} */
.bg-blue {
  background-color: var(--main);
}
.bg-light-gray {
  background-color: var(--lightGray);
}
.btn-blue,
.btn-red {
  background-color: var(--activeBlue);
  text-decoration: none;
  color: #fff;
  border: 2px solid var(--activeBlue);
  font-size: 17px;
  border-radius: 50px;
  padding: 8px 20px;
  font-weight: 600;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.btn-blue:hover {
  background-color: transparent;
  color: #000;
  border-color: var(--activeBlue);
}
.btn-red {
  background-color: #d30a0b;
  border-color: #d30a0b;
}
.btn-red:hover {
  background-color: transparent;
  color: #000;
  border-color: #d30a0b;
}
.btn-blue-round,
.btn-red,
.btn-light {
  padding: 12px 31px;
  font-size: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.main-content {
  min-height: 70vh;
}
.section-title {
  font-size: 46px;
  font-weight: 700;
}
.new-hero-banner {
  padding: 135px 0 135px 0;
  /* padding: 226px 0 135px 0; */
  position: relative;
}
.section-padding {
  padding: 120px 0 115px;
  position: relative;
}
/* hero section */
/* .new-hero-banner {
  padding: 188px 0 135px 0;
  position: relative;
} */
.banner-img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: -1;
  background-image: url(../images/home-banner-img.png);
}
.banner-wrap {
  position: relative;
}
.banner-content {
  /* max-width: 700px; */
  max-width: 780px;
}
.banner-content h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  margin: 0 0 45px 0;
  padding: 0 0 0 21px;
  position: relative;
}
.banner-content h1:before {
  position: absolute;
  content: "";
  width: 9px;
  border-radius: 5px;
  background-color: var(--main);
  left: 3px;
  top: 8px;
  bottom: 3px;
}
.banner-content p {
  font-size: 22px;
  line-height: 33px;
  margin: 0 0 60px 0;
}
.awards-section {
  width: 100%;
  padding: 78px 0 90px;
  text-align: center;
}
.awards-section span.round-icon {
  border-radius: 50%;
  background-color: var(--activeBlue);
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
  top: 15px;
}
.awards-section span.round-icon:before {
  content: "";
  border-radius: 50%;
  background-color: #000;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.awards-section h5 {
  font-size: 50px;
  line-height: 1.38;
  display: inline;
  vertical-align: top;
  font-weight: 600;
}
.awards-section p {
  font-size: 20px;
  line-height: 1.3;
  display: block;
  width: 100%;
}
/* challenges-section */
.challenges-section {
  padding: 50px 0 0;
}
.challenges-section figure {
  border-top-right-radius: 15px;
  overflow: hidden;
}
.challenges-section img {
  width: 100%;
  vertical-align: bottom;
}
.challenges-section .content-wrapper h2 {
  font-size: 46px;
  padding: 55px 10%;
  font-weight: 700;
}
.challenges-wrap {
  font-size: 16px;
  position: relative;
  background-color: var(--lightGray);
  padding: 85px 12% 0;
}
.challenges-wrap span {
  font-size: 70px;
  position: absolute;
  color: #e32428d6;
  /* color: #e32428; */
  font-weight: 900;
  top: -50px;
  left: -36px;
}
.challenges-wrap h3 {
  margin-bottom: 13px;
  position: relative;
  font-size: 26px;
  font-weight: 600;
}
.challenges-wrap p {
  width: 70%;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
}
.challenges-section .content-wrapper [class*="col-"] {
  margin-bottom: 70px;
}
/* marketing section */
.marketing-section .title-block {
  padding: 0 0 30px 0;
}

.marketing-section .title-block {
  margin-bottom: 28px;
}
.center-img-wrap {
  position: relative;
}
.center-img-wrap figure {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.marketing-section .center-img-wrap figure {
  top: 0;
  transform: translate(-50%, 0);
  width: 43%;
  margin: 0 15px;
}
.center-img-wrap figure img {
  display: block;
  margin: 0 auto;
}
.marketing-section .dev-lists div[class*="col-"] {
  padding-top: 22px;
  padding-bottom: 27px;
}
.marketing-section .dev-lists div[class*="col-"] .wrap {
  max-width: 350px;
  width: 100%;
  padding-top: 24px;
  position: relative;
  padding-left: 30px;
}
.marketing-section .dev-lists div[class*="col-"]:nth-child(even) .wrap {
  margin-left: auto;
  margin-right: -12px;
  max-width: 330px;
}
.marketing-section h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}
.marketing-section p {
  line-height: 26px;
}
/* our service */
#sticky_bar {
  position: absolute;
  width: 600px;
}
#sticky_bar.sticky {
    position: fixed;
    width: 600px;
    top: 135px;
    z-index: 1;
    /* left: 15px; */
}
div#sticky_bar.sticky {
    position: fixed;
}
.img-wrap {
  display: none;
}
.scroll-content > div {
  margin-bottom: 90px;
}
.scroll-content h3 {
  font-size: 38px;
  margin-bottom: 18px;
  font-weight: 600;
}
.scroll-content .btn-blue {
  font-size: 20px;
  font-weight: 700;
}
.content-section .icon {
  height: 89px;
  width: 89px;
  display: inline-block;
  background-color: #195bc9;
  padding: 16px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  align-items: center;
  margin-right: 18px;
  justify-content: center;
}
.scroll-content ul {
  margin-bottom: 43px;
  font-size: 24px;
}
.scroll-content ul li {
  margin-bottom: 26px;
  padding-left: 33px;
  font-size: inherit;
  position: relative;
  display: block;
  width: 100%;
  transition: 0.5s all ease-in-out;
  color: #000000;
}
.scroll-content ul li:before {
  content: " ";
  background-image: url(../images/arrow.svg);
  height: 19px;
  width: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 6px;
  background-color: transparent;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
}
/* why section */
.section-subtitle {
  font-size: 20px;
  font-weight: 400;
}
.service-card {
  background-color: #fff;
    height: 100%;
    padding: 98px 50px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.service-card:before {
    background-color: #195bc9;
    border-radius: 50%;
    content: "";
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-55px, -55px) scale(.1);
    transform-origin: top left;
    transition: all .45s ease-out;
    width: 600px;
    -webkit-transform: translate(-55px, -55px) scale(.1);
    -moz-transform: translate(-55px, -55px) scale(.1);
    -ms-transform: translate(-55px, -55px) scale(.1);
    -o-transform: translate(-55px, -55px) scale(.1);
}
.service-card:hover:before {
    transform: translate(-24%, -20%) scale(1.4);
    transition: all .4s ease-in;
}
.img-block {
    position: relative;
    height: 78px;
    margin-bottom: 28px;
}
.img-block figure {
    width: 64px;
    height: 78px;
    position: relative;
}
.img-block figure:before {
    content: "";
    display: block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #195bc9;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s all ease-in-out;
    z-index: 1;
}
.listing .service-card:hover .img-block figure:before {
    background-color: #FFFFFF;
}
.listing div[class*="col-"]:nth-child(1) .img-block figure:before {
    left: -10px;
}
.listing-btn .btn {
  font-weight: 700;
  font-size: 20px;

} 
.service-card .content {
    position: relative;
}
.service-card h4 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}
.service-card p {
    line-height: 1.65;
}
.service-card:hover h4 {
  color: #fff;
}
.service-card:hover p {
  color: #fff;
}
.card-graphic {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  height: 250px;
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image-container {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.service-card-img-header {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: auto;
  object-fit: contain !important;
  flex-shrink: 0;
  margin-left: auto;
}
.service-card-text {
  padding-top: 15px;
  font-size: 16px;
}
.service-card-text a {
  color: var(--activeBlue);
  font-weight: bold;
}
/* three block content */
.three-block-content .section-title {
    padding-bottom: 100px;
}

.three-block-content .section-title {
    margin-bottom: 50px;
}
.three-block-content .content-listing {
    counter-reset: section;
}
.three-block-content .content-listing .wrap {
    max-width: 400px;
    width: 100%;
    padding-left: 54px;
    position: relative;
}
.three-block-content .content-listing .first .wrap {
    position: relative;
    top: -120px;
    margin-left: auto;
}
.three-block-content .content-listing .last .wrap {
    /* margin-left: auto; */
    position: relative;
    left: -54px;
}
.three-block-content .content-listing .center .wrap {
    margin: 0 auto;
    position: relative;
    left: -23px;
    top: -70px;
}
.three-block-content .content-listing .wrap:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--activeBlue);
    position: absolute;
    left: -8px;
    bottom: -41px;
}
.three-block-content .content-listing .wrap:after {
    content: "";
    display: block;
    width: 1px;
    background-color: var(--activeBlue);
    top: 8px;
    height: calc(100% + 33px);
    position: absolute;
    left: 0;
}
.three-block-content .content-listing .wrap h3 {
    font-size: 22px;
    line-height: 1.28;
    font-weight: 700;
    margin-bottom: 16px;
}
.three-block-content .content-listing .wrap p {
    line-height: 1.63;
}
.three-block-content .content-listing .wrap span {
    position: absolute;
    top: -100px;
    left: 54px;
    width: 80px;
    height: 80px;
    border: 2px solid var(--activeBlue);
    border-radius: 50%;
    background-color: #ffffff;
}
.three-block-content .content-listing .wrap span:before {
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    color: #B2B2B2;
    line-height: 78px;
    width: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    counter-increment: section;
    content: "0" counter(section);
}
/* result */
.sector-name p {
  margin-bottom: 0;
  max-width: 60%;
  background-color: #f1f1f1;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cs-card {
  border-radius: 40px;
  border-top-left-radius: 0;
  background-color: #f1f1f1;
  position: relative;
}
.cs-card h3 {
  font-size: 2rem;
  line-height: 30px;
  max-width: 80%;
}
.cs-card-body {
  font-size: 19px;
  line-height: 1.8em;
}
.sector-icon {
  position: absolute;
  right: 0;
  width: auto;
  height: 90px;
  margin-top: -150px;
}
/* testimonials */
.testimonial-card {
  font-size: 16px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.testimonial-slide {
  padding: 40px 20px;
}

.testimonial_box-img {
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
}
.testimonial_box-img img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #e5e5e5;
}
/* get in touch */
.tell-us-form {
  max-width: 1003px;
  margin: 73px auto 15px;
  width: 100%;
}
.tell-us-form .feild {
  position: relative;
  margin-bottom: 47px;
}
.tell-us-form .form-control {
  padding: 10px 45px 14px 20px;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  outline: none;
  color: #000;
}
.tell-us-form .form-control:focus {
  box-shadow: 0px 2px 0px -1px #000;
}
.our-client {
  padding: 70px 0;
}
#logo-marquee .item {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
#logo-marquee img {
  width: auto;
  max-height: 100px;
  margin: 0 auto;
}
/* footer */
footer {
  padding-top: 50px;
  background: #2e353b;
  position: relative;
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-bottom: 0.3rem;
}
footer ul li a {
  color: #c5c5c5;
  font-size: 14px;
}
footer ul li a:hover {
  color: var(--main);
}
.bottom-footer {
  border-top: 1px solid #666;
}
.bottom-footer p {
  color: #fff;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.social-link {
  display: inline-block;
}
.social-link li {
  display: inline;
}
.social-link li a svg {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 0.5rem;
  width: 20px;
  height: 20px;
  text-align: center;
}
.payment-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.payment-list li {
  width: 33.33%;
}
.payment-list li a {
  color: #fff;
  font-size: 14px;
}
.footer-contact-details {
  background: url("https://www.bookmyad.com/assets/images/footer-red-bg.png");
  padding-bottom: 2rem;
  padding-top: 1.2rem;
  margin-top: -5.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-contact-details ul {
  list-style-type: none;
}
.footer-contact-details ul li {
  position: relative;
  padding-left: 8rem;
  padding-bottom: 1rem;
}
.footer-contact-details ul li.phone::before {
  content: url("../images/footer-phone.png");
  position: absolute;
  left: 1rem;
  width: 7rem;
  text-align: center;
}
.footer-contact-details ul li.mail::before {
  content: url("../images/footer-mail.png");
  position: absolute;
  left: 1rem;
  width: 6rem;
  text-align: center;
  border-right: 1px solid #fff;
  height: 3.9rem;
}
.footer-contact-details ul li.address::before {
  content: url("../images/footer-map.png");
  position: absolute;
  left: 1rem;
  width: 6rem;
  text-align: center;
  top: 1rem;
  border-right: 1px solid #fff;
  height: 3.9rem;
}
.footer-contact-details h4 {
  margin-bottom: 0rem;
}
.footer-contact-details p {
  color: #fff;
  margin-bottom: 0rem;
  font-size: 14px;
  font-weight: normal;
}
.footer-contact-details ul li a {
  color: #fff;
}
.footer-contact-details ul li a:hover {
  color: #fff;
}
a.btn-call {
  background-color: var(--red);
  position: fixed;
  right: 0;
  color: #fff;
  top: 50%;
  padding: 9px 18px;
  transform: rotate(270deg) translate(65%, 35px);
}
a.btn-call:hover {
  border: 1px solid var(--red);
  color: var(--red);
  background-color: transparent;
}
#mc_embed_signup .mc-field-group {
  width: 100% !important;
}
#mc_embed_signup .mc-field-group input {
  width: 1% !important;
  padding: 8px 0;
  text-indent: 2%;
  flex: 1 1 auto;
}
.subscribe_form {
  width: 100%;
  margin: 0 auto !important;
  /* box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24); */
}
#mc_embed_signup div#mce-responses {
  width: 100% !important;
  margin: 0 0% !important;
  display: block !important;
}
#mc_embed_signup div.response {
  margin: 0em 0 !important;
  padding: 0em 0em 0em 0 !important;
  font-weight: normal !important;
  width: 100% !important;
  font-size: 14px;
  color: #fff;
}
#mc_embed_signup .mc-field-group {
  padding-bottom: 0% !important;
}
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  background-color: transparent !important;
  margin: -0.5em 0 -1em 0 !important;
  color: #e32129 !important;
  font-weight: 500 !important;
}
#mc_embed_signup #mce-success-response {
  color: #fff !important;
}
.subscribe_form inpu:focus-visible {
  outline: none !important;
}

.subscribe_form label {
  font-size: 1.3rem;
  font-weight: 500;
}
.subscribe_form:focus {
  outline: none;
}
.subscribe_form .form-control {
  border-radius: 0;
}
.subscribe_form .form-control:focus {
  box-shadow: none;
}
.subscribe_form input {
  height: 55px !important;
}
.subscribe_form button {
  border: none;
  height: 55px !important;
  background-color: var(--red);
  color: #fff;
  border-radius: 0 !important;
  width: 135px !important;
  text-transform: capitalize;
  position: relative;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  font-size: 1.2rem;
}
.subscribe_form button:hover,
.subscribe_form button:focus,
.subscribe_form button:active,
.subscribe_form button:visited {
  color: #fff;
  background-color: var(--red);
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:before {
  background-color: var(--red);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 0px;
}
footer .btn-default {
  background-color: #d30a0b !important;
}
.certi-list {
  column-count: 2;
  gap: 0.3rem;
  margin-top: -5.5rem;
}
